<?xml version="1.0" encoding="UTF-8"?>
<config name="Accelerator">
  <component name="DEMO:GROUP1">
    <pv name="DEMO:PV1">
      <description>DEMO:PV1</description>
      <enabled>true</enabled>
      <latching>false</latching>
      <annunciating>true</annunciating>
      <filter>DEMO:PV2 &gt; 10</filter>
    </pv>
    <pv name="DEMO:PV2">
      <description>DEMO:PV2</description>
      <enabled>true</enabled>
      <latching>true</latching>
      <annunciating>true</annunciating>
    </pv>
    <pv name="DEMO:PV3">
      <description>DEMO:PV3</description>
      <enabled>true</enabled>
      <latching>false</latching>
      <annunciating>false</annunciating>
    </pv>
  </component>
  <component name="DEMO:GROUP2">
    <component name="DEMO:GROUP3">
      <pv name="DEMO:PV4">
        <description>DEMO:PV4</description>
        <enabled>true</enabled>
        <latching>false</latching>
        <annunciating>false</annunciating>
        <guidance>
          <title>Procedure1</title>
          <details>Close Valve</details>
        </guidance>
        <command>
          <title>Command</title>
          <details>Information</details>
        </command>
      </pv>
      <pv name="DEMO:PV5">
        <description>DEMO:PV5</description>
        <enabled>true</enabled>
        <latching>false</latching>
        <annunciating>true</annunciating>
        <automated_action>
          <title>Trigger</title>
          <details>cmd:/home/ctrluser/Bash/Trigger.sh "DEMO:PV5"</details>
          <delay>0</delay>
        </automated_action>
      </pv>
    </component>
    <pv name="DEMO:PV6">
      <description>DEMO:PV6</description>
      <enabled>true</enabled>
      <latching>false</latching>
      <annunciating>false</annunciating>
    </pv>
    <pv name="DEMO:PV7">
      <description>DEMO:PV7</description>
      <enabled>true</enabled>
      <latching>false</latching>
      <annunciating>false</annunciating>
    </pv>
  </component>
</config>
